body {
    background-color: white;
  }
header
{
  background-color: white;
}
footer
{
  background-color: white;
}
kjdf gjhkgjshj
#shiftsTitle1
{
  color: black;
}
#shiftsTitle2
{
  color: black;
}
#employeesTitle
{
  color: black;
}
#settingsTitle
{
  color: black;
  display:'float';
  padding-left:'1%';
}

#headerDiv
{
  background-color: white;
}
#popup
{
  background-color: white;
}

footer
{
  background-color: white;
}
h1
{
  color: black;
}
label
{
  color: black;
}